.talkee-comment-item {
  display: block;
  list-style-type: none;

  &-left {
    flex-basis: 46px;

    &-avatar {
      margin-top: 15px;
    }
  }

  &-right {
    flex: 1;
    padding: 10px 0;

    &-meta {
      margin-top: 12px;
    }
  }
}