.talkee-meta {

  &-reply,
  &-favor {
    cursor: pointer;
  }

  &-favor {
    min-width: 24px;
    min-height: 24px;
    padding-right: 24px;
    line-height: 24px;
    background: url(../../statics/icons/like.svg) no-repeat right 0;

    &-liked {
      background-image: url(../../statics/icons/liked.svg);
    }
  }
}