.talkee-comment-sub {
  padding-left: 20%;

  &-textarea {
    width: 100%;

    .v-label {
      top: 8px !important;
      font-size: 12px;
    }

    textarea {
      margin-top: 4px !important;
      font-size: 14px !important;
    }

    .v-text-field__details {
      display: none;
    }
  }

  &-btn {
    padding: 0 !important;
  }

  &-wrapper {
    width: 100%;
  }
}