.talkee-comment-sub-item {
  &-left {
    flex-basis: 36px;

    &-avatar {
      margin-top: 10px;
    }
  }

  &-right {
    flex: 1;
    border-bottom: 1px solid var(--v-greyscale_5-base);

    &-top {
      &-time {
        font-size: 10px;
      }
    }


    &-content {
      position: relative;
      width: 100%;
      max-height: 4.5em;
      overflow: hidden;
      line-height: 1.5;
      transition: max-height 0.5s ease-out;

      &::before {
        float: right;
        width: 0;
        height: 100%;
        margin-bottom: -19px;
        content: "";
      }

      &::after {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: var(--v-greyscale_7-base);
        content: "";
      }

      &-more {
        max-height: none;
        -webkit-line-clamp: 9999;

        &::after {
          display: none;
        }
      }
    }

    &-more.v-btn.v-btn--text {
      z-index: 2;
      float: right;
      clear: both;
      min-width: 0 !important;
      height: auto !important;
      font-size: 14px !important;
    }
  }
}