.talkee-sortbar {
  &-left {
    padding-left: 24px;
    background: url(../../statics/icons/comment.svg) no-repeat left -1px;
  }

  &-right {
    padding-left: 24px;
    background: url(../../statics/icons/sort.svg) no-repeat left 2px;
  }

  &-btn {
    padding: 0 !important;
    &-active {
      color: var(--v-primary-base) !important;
    }
  }
}
